<div class="container-flud pelicula-principal">
  <div class="row">
    <div class="col-12 div__descripcion">
      <h1 class="titulo text-center">Parking-Lite</h1>
      
      <p class="descripcion text-center">
        Software inteligente que te permite reservar un lugar en el estacionamiento de manera segura y rápida.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="h3__servicios">Nuestros servicios</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/imagenes/tarjeta.jpg" class="card-img-top p-2 card__img" alt="...">
        <div class="card-body">
          <h5 class="card-title titulos__servicios">Pagos automáticos</h5>
          <p class="card-text">Pagos rápidos y fáciles a través de tu tarjeta de crédito o débito de manera segura</p>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/imagenes/reservaciones.jpg" class="card-img-top p-2 card__img" alt="...">
        <div class="card-body">
          <h5 class="card-title titulos__servicios">Reservación</h5>
          <p class="card-text p__servicios">Podrás reservar tu alojamiento para tu auto desde aquí a cualquier hora.</p>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/imagenes/cancelar.jpg" class="card-img-top p-2 card__img" alt="...">
        <div class="card-body">
          <h5 class="card-title titulos__servicios">Cancelación</h5>
          <p class="card-text p__servicios">Cancela tus reservaciones en cualquier momento sin ningún costo adicional
          </p>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/imagenes/perfil.jpg" class="card-img-top p-2 card__img" alt="...">
        <div class="card-body">
          <h5 class="card-title titulos__servicios">Perfil Personal</h5>
          <p class="card-text p__servicios">Como cliente registrado podrás manejar la informacin de tu perfi a voluntad
          </p>

        </div>
      </div>
    </div>
  </div>


</div>
<div class="container div__invitacion">
  <div class="row">
    <div class="col-md-6">
      <div class="div__descripcion-invitacion">
        <h3>Hazte cliente</h3>
        <p>Aprovecha el poder de la tecnología para poder aparcar de manera rápida y fácil</p>
        <a class="btn" href="http://localhost:4200/registrarse">Registrarse</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="div_img">
        <img src="../../../assets/imagenes/perfil_azul.jpg" alt="">
      </div>
    </div>
  </div>
</div>