<div class="container-flud pelicula-principal">
    <div class="row">
        <div class="col-12 div__descripcion">
          <h1 class="titulo text-center">Estacionamiento Inteligente</h1>
          <p class="descripcion text-center">
               Software inteligente que le permite reservar un lugar en el estacionamiento de manera segura y rapida.
          </p>
  
        </div>
    </div>
</div>
<div class="container">
<h3 class="h3__servicios">Nuestros servicios</h3>
<div class="row">
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
  <img src="../../../assets/imagenes/tarjeta.jpg" class="card-img-top p-2 card__img" alt="...">
  <div class="card-body">
    <h5 class="card-title titulos__servicios">Pagos automaticos</h5>
    <p class="card-text">Pagos rapidos y faciles a travez de tu tarjeta de credito o debito de manera segura</p>
    
  </div>
</div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
  <img src="../../../assets/imagenes/reservaciones.jpg" class="card-img-top p-2 card__img" alt="...">
  <div class="card-body">
    <h5 class="card-title titulos__servicios">Reservacion</h5>
    <p class="card-text p__servicios">Podras reservar tu alogamiento para tu auto desde aqui a cualquier hora.</p>
    
  </div>
</div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
  <img src="../../../assets/imagenes/perfil.jpg" class="card-img-top p-2 card__img" alt="...">
  <div class="card-body">
    <h5 class="card-title titulos__servicios">Peril Personal</h5>
    <p class="card-text p__servicios">Una vez como cliente podras manejar la informacion de tu perfi a voluntad</p>
    
  </div>
</div>
  </div>
  <div class="col-md-3">
      <div class="card" style="width: 18rem;">
      <img src="../../../assets/imagenes/matricula.jpg" class="card-img-top p-2 card__img" alt="...">
      <div class="card-body">
        <h5 class="card-title titulos__servicios">Registro Matricula</h5>
        <p class="card-text p__servicios">Podras establecer una matricula de tu vehiculo predeterminado para reservar mas rapido</p>
      
      </div>
    </div>
  </div>
</div>

  
</div>
<div class="container div__invitacion">
  <div class="row">
    <div class="col-md-6">
      <div class="div__descripcion-invitacion">
          <h3>Hazte cliente</h3>
          <p>Aprovecha el poder de la tecnologia para poder aparcar de manera rapida y facil</p>
          <a class="btn">Registrarse</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="div_img">
        <img src="../../../assets/imagenes/perfil_azul.jpg" alt="">
      </div>
    </div>
  </div>
</div>

