<div class="container m-6 container-tabla">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center m-4">Cancelar Reservaci&oacute;n</h2>


      <table class="table table-hover tabla_reservaciones">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><i class="fa fa-calendar" aria-hidden="true" style="right:12px;top:12px;"></i> Fecha</th>

            <th scope="col"><i class="fa fa-clock-o" aria-hidden="true" style="right:12px;top:12px;"></i> Hora</th>
            <th scope="col"><i class="fa fa-car" aria-hidden="true" style="right:12px;top:12px;"></i> Lugar</th>
            <th scope="col"><i class="fa fa-usd" aria-hidden="true" style="right:12px;top:12px;"></i> Cuenta</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of reservaciones">
            <th scope="row"> <i class="fa fa-calendar" aria-hidden="true" style="right:12px;top:12px;"></i> </th>
            <td>{{res.FechaInicio}} - {{res.FechaFinal}}</td>
            <td> {{ obtenerHora(res.FechaInicio)}} - {{ obtenerHora(res.FechaFinal)}} </td>
            <td> #{{res.IdEstacionamientoSocio}} </td>
            <td>{{res.Monto}}</td>
            <td><button class="btn btn-danger" (click)="eliminar(res.IdReservacion,res.IdEstacionamientoSocio)">
              <i class="fa fa-trash-o" aria-hidden="true" style="right:12px;top:12px;"></i>
            </button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

