.contenido__nav{
  background-color: #000;
  
}
.caja__nav{
  margin: 0px 40px;
}
.btn__registro{
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.btn__registro:hover{
  background-color:rgb(96, 97, 97)
}
.btn__inicio{
  background-color: #f8a488;
  color: #000;
  border-color: rgb(96, 97, 97);
}
.btn__inicio:hover{
  background-color: #fa926f;
  color: #000;
  border-color: rgb(96, 97, 97);
}