.contenido__nav{
  background-color: #39bdee;
  
}
.caja__nav{
  margin: 0px 40px;
}
.btn__registro{
  background-color: transparent;
  color:#f2f7fa;
  border-color: #f2f7fa;
}
.btn__registro:hover{
  background-color:rgb(208, 233, 243);
}
.btn__inicio{
  background-color: #181b32;
  color: #f2f7fa;
  border-color: rgb(96, 97, 97);
}
.btn__inicio:hover{
  background-color: rgb(208, 233, 243);
  color: #f2f7fa;
  border-color: rgb(96, 97, 97);
}