.principal{
    padding: 50px;
    padding-top: 10px;
    display: inline-flexbox;
  }
.info{
    border: 2px #5aa897 solid;
    border-radius: 25px;
    padding: 30px;
    margin-left: 30%;
    width: 35%;
}
button{
    float: right;
    margin-top: -37px;
}
#caja{
    width: 80%;
}
.clock p {
    display: inline;
    margin: 8px;
}
.clock div{
    display: inline-block;
}
.clock{
    font-size: 1em;
}
.datos{
    margin-top: 5%;
}
.pago{
    font-size: 2em;
    float: none;
    margin-left: 80%;
    margin-top: -30%;
}
