<div class="container col-sm-8 p-5 mb-5 text-align-center">
    <h2>Registro</h2>
    <form [formGroup]="registrarse">
        <div class="form-group">
            <label for="nombre"></label>
            <input class="form-control" type="text" id="nombre" placeholder="Nombre(s)">
        </div>
        <div class="form-group">
            <label for="apellido-paterno"></label>
            <input class="form-control" type="text" id="apellido-paterno"placeholder="Apellido paterno">
        </div>
        <div class="form-group">
            <label for="apellido-materno"></label>
            <input class="form-control" type="text" id="apellido-materno"placeholder="Apellido materno">
        </div>
        <div class="form-group">
            <label for="correo"></label>
            <input class="form-control" type="email" id="correo"placeholder="Correo">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input class="form-control" type="password" id="password" placeholder="Contraseña">
        </div>
        <div>
            <button  class="btn btn-secondary btn__registro mt-4" type="submit">Registrarse</button>
        </div>
    </form>
    <div class="alert alert alert-danger mt-5" role="alert">
        Por favor llena todos los campos!
    </div>