<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        body{
            color:#181b32
        }
        form {

}
    </style>
    <body>
        <br />
      <h1 style="text-align: center; font-size: 60px;">Editar perfil</h1>
      <div style="width: 1250px; height: 500px; margin-left:auto; margin-right:auto; text-align: center; font-size: 30px; border: 4px solid #181b32; border-radius: 20px"> 
        <section>       
            <br />
        <input type="text" placeholder="Nombre" id="name" name="user_name" style="border:none; background-color: transparent;" >
                <input type="text" placeholder="Apellidos" id="lname" name="lname" style="border:none; background-color: transparent;">
            </section> 
            <br/>
            <section>
               <input type="text" placeholder="Nombre de usuario" id="uname" name="uname" style="border:none; background-color: transparent;">
            </section>
            <br/>
            <section>
               <input type="text" placeholder= "Contraseña" id="password" name="password" style="border:none; background-color: transparent;">
            </section>
            <br/>
            <section>
               <input type="email" placeholder="Correo" id="mail" name="user_mail" style="border:none; background-color: transparent;">
            </section>
            <img src="assets/imagenes/logo.png" alt="Logo" class="h-25 w-25 mx-auto d-block mt-3" style="background-color: transparent;">
            <p><a href="#">Editar foto</a></p>
            <p><a href="#">Eliminar cuenta</a></p>
            <div class="text-center form-group">
            <button type="submit" value="Cancelar"></button>
            <button type="submit" value="Guardar"></button>
        </div>

        </div>
        <br />
        
        <script src="" async defer></script>
    </body>
</html>