<div class="container-fluid mt-4 mb-5">
    <div class="row mx-5">
        <div class="col-sm mt-5 mx-1">
            <div class="row mb-5">
                <p class="mb-4"></p>
            </div>
            <div class="row m-5">
                <img src="assets/imagenes/perfil.jpg" alt="perfil" class="img-thumbnail">
            </div>
            
        </div>
        <div class="col-sm mr-5">
            <div class="row">
                <h4 class="display-3 text-center mb-4">Mi Perfil</h4>
            </div>
            <div class="row border border-2 rounded-3 d-sm-flex">
                <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="perfil">
                    <div class="form-group m-2">
                        <label for="nombre">Nombre:</label>
                        <input formControlName="nombre" class="form-control" type="text" id="nombre" placeholder="{{Usuario[1]}}">
                        <span   class="form-text text-danger"
                                *ngIf="campoEsValido('nombre')"
                                >Ingresa tu nombre
                        </span>
                    </div>
                    <div class="form-group m-2">
                        <label for="apellido-paterno">Apellido Paterno</label>
                        <input formControlName="apellidoPaterno" class="form-control" type="text" id="apellido-paterno"placeholder="{{Usuario[2]}}">
                        <span   class="form-text text-danger" 
                                *ngIf="campoEsValido('apellidoPaterno')"
                                >Ingresa tu apellido paterno
                        </span>
                    </div>
                    <div class="form-group m-2">
                        <label for="apellido-materno">Apellido Materno</label>
                        <input formControlName="apellidoMaterno" class="form-control" type="text" id="apellido-materno"placeholder="{{Usuario[3]}}">
                        <span   class="form-text text-danger" 
                                *ngIf="campoEsValido('apellidoMaterno')"
                                >Ingresa tu apellido materno
                        </span>
                    </div>
                    <!--<div class="form-group m-2">
                        <label for="correo"></label>
                        <input formControlName="correo" class="form-control" type="email" id="correo"placeholder="Correo">
                        <span   class="form-text text-danger"
                                *ngIf="campoEsValido('correo')"
                                >Ingrese un correo valido
                        </span>
                    </div>
                    <div class="form-group m-2">
                        <label  for="password">Contraseña</label>
                        <input  formControlName="password" class="form-control" type="password" id="password" placeholder="{{Usuario[5]}}">
                        <span   class="form-text text-danger"
                                *ngIf="campoEsValido('password')"
                                >Ingresa una contraseña válida (mínimo 6 caracteres)
                        </span>
                    </div>-->
                    
                    <!--NUMERO TARJETA-->
                    <div class="form-group m-2">
                        <label  for="numeroTarjeta">Numero Tarjeta</label>
                        <input  formControlName="numeroTarjeta" class="form-control" type="text" id="numeroTarjeta" placeholder="{{Usuario[6]}}">
                        <span   class="form-text text-danger"
                                *ngIf="campoEsValido('numeroTarjeta')"
                                >Ingresa una tarjeta valida
                        </span>
                    </div>
                    <!--TITULAR TARJETA-->
                    <div class="form-group m-2">
                        <label  for="titularTarjeta">Titular Tarjeta</label>
                        <input  formControlName="titularTarjeta" class="form-control" type="text" id="titularTarjeta" placeholder="{{Usuario[7]}}">
                        <span   class="form-text text-danger"
                                *ngIf="campoEsValido('titularTarjeta')"
                                >Ingresa el titular de la tarjeta
                        </span>
                    </div>
                    <div class="container d-flex justify-content-between align-items-center">
                        <div>
                            <button  class="ml-5" type="submit">Modificar</button>
                        </div>
                        <div>
                            <button  class="m-3" type="button">Eliminar Cuenta</button>
                        </div>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>
