<div class="container-fluid mt-4 mb-5">
    <div class="row mx-5">
        <div class="col-sm mt-5 mx-1">
            <div class="row mb-5">
                <p class="mb-4"></p>
            </div>
            <div class="row mt-5">
                <img src="assets/imagenes/perfil.jpg" alt="perfil" class="img-thumbnail">
            </div>
            
        </div>
        <div class="col-sm mr-5">
            <div class="row">
                <h2 class="display-3 text-center mb-4">¡Bienvenido!</h2>
            </div>
            <div class="row border border-2 rounded-3">
                <img src="assets/imagenes/logo.png" alt="Logo" class="h-25 w-25 mx-auto d-block mt-3">
                <h3 class="display-6 text-center">Parking Lite</h3>
                <form [formGroup]="autenticarse"  class="mb-4">
                    <div class="input-group input-group-lg mt-4 mb-5">
                        <input type="text" [(ngModel)]="login.email" formControlName="email" class="form-control " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="correo" placeholder="Correo Electronico" [ngClass]="{ 'is-invalid':submitted && f.email.errors }">
                        <span style="position:absolute; right:8px;top:8px;" class="fa fa-address-card fa-2x" ></span>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Introduce tu correo electronico.</div>
                            <div *ngIf="f.email.errors.email">Ingresa un correo electronico valido.</div>
                        </div>
                    </div>
                    <div class="input-group input-group-lg mt-4 mb-2">
                        <input type="password" [(ngModel)]="login.password" formControlName="password"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="contrasenia" placeholder="Contraseña" [ngClass]="{ 'is-invalid':submitted && f.password.errors }">
                        <span style="position:absolute; right:8px;top:8px;" class="fa fa-unlock-alt fa-2x" ></span>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Introduce tu constraseña.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="text-left"><a>Olvide mi contraseña</a></p>
                        </div>
                        <div class="col-sm">
                            <p class="text-end"><a>Registrarme</a></p>
                        </div>
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-primary btn-lg" (click)="Autenticarse()">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
