<div class="container">
    <div class="row mt-3">
        <h2 class="text-center display-4">Membresia Parking Lite</h2>
    </div>
    <div class="row">
        <div class="text-center col-sm mt-3 mb-5">
            <h2 class="text-center display-8 mb-4">Seleciona tu fecha de inicio</h2>
            <ngb-datepicker #dp [(ngModel)]="model" (dateSelect)="onDateSelect($event)" [showWeekNumbers]="true" [minDate]="hoy"
            [maxDate]="{year: 2048, month: 12, day: 31}" [startDate]="hoy" ></ngb-datepicker>
            <p class="texte-center display-10 mt-4 container">*Recuerda que la Membresia Parking Lite te otorga a partir de tu fecha de inicio 30 dias de un cajon de estacionamiento exclusivo para ti las 24 horas del día.</p>
        </div>
        <div class="col-sm mt-3">
            <p>Inicio de tu membresia: {{inicio}}</p>
            <p>Final de tu membresia: {{final}}</p>
            <p>Total: ${{total}}</p>
            <form [formGroup]="tarjeta">
                <div class="input-group input-group-lg mt-3">
                    <input type="text" [(ngModel)]="tardat.titular" formControlName="titular" class="form-control " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="titular" placeholder="Titular de la tarjeta" [ngClass]="{ 'is-invalid':submitted && f.titular.errors }"
                    (keypress)="valnom($event)">
                    <div *ngIf="submitted && f.titular.errors" class="invalid-feedback">
                        <div *ngIf="f.titular.errors.required">Introduce el nombre del titular de la tarjeta.</div>
                    </div>
                </div>
                <div class="input-group input-group-lg mt-3">
                    <input type="text" [(ngModel)]="tardat.numero" formControlName="numero" 
                    class="form-control " aria-label="Sizing example input"  maxlength="19"
                    aria-describedby="inputGroup-sizing-lg" id="numero" placeholder="Numero de la tarjeta" 
                    [ngClass]="{ 'is-invalid':submitted && f.numero.errors }" (keypress)="Tarjetanumero($event)" (keydown)="quitarespacio($event)">
                    <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                        <div *ngIf="f.numero.errors.required">Introduce tu numero de tarjeta.</div>
                        <div *ngIf="f.numero.errors.minlength">Introduce un numero de tarjeta válido.</div>
                    </div>
                </div>
                <div class="input-group input-group-lg">
                    
                        <div class="col-sm text-center form-group">
                            <div class="text-center form-group">
                                <div class="row">
                                    <div class="col-sm"></div>
                                    <div class="col-sm mt-3">
                                        <input type="text" [(ngModel)]="tardat.expira" formControlName="expira" 
                                        class="form-control " aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-lg" id="expira" placeholder="MM/YY" maxlength="5" (keypress)="Expiracion($event)"
                                        (keydown)="quitarslash($event)"[ngClass]="{ 'is-invalid':submitted && f.expira.errors }">
                                        <div *ngIf="submitted && f.expira.errors" class="invalid-feedback">
                                            <div *ngIf="f.expira.errors.required">Introduce tu fecha de vigenci.</div>
                                            <div *ngIf="f.expira.errors.minlength">Introduce una fecha de vigencia válida.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm text-center">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm mt-3">
                                    <input type="text" [(ngModel)]="tardat.cvv" formControlName="cvv" 
                                    class="form-control " aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg" id="cvv" placeholder="CVV" maxlength="3"
                                    [ngClass]="{ 'is-invalid':submitted && f.cvv.errors }" (keypress)="valcvv($event)">
                                    <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
                                        <div *ngIf="f.cvv.errors.required">Introduce tu cvv de tu tarjeta.</div>
                                        <div *ngIf="f.cvv.errors.minlength">Introduce un cvv válido.</div>
                                    </div>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    
                </div>
                <div class="text-center form-group mt-3">
                    <button type="submit" class="btn btn-primary btn-lg" (click)="AutenticarTarjeta()">Comprar</button>
                </div>
            </form>
        </div>
    </div>    
</div>


