<div class="container">
    <div class="row mt-3">
        <h2 class="text-center display-4">Membresia Parking Lite</h2>
    </div>
    <div class="row">
        <div class="text-center col-sm mt-3 mb-5">
            <h2 class="text-center display-8 mb-4">Seleciona tu fecha de inicio</h2>
            <ngb-datepicker #dp [(ngModel)]="model" (dateSelect)="onDateSelect($event)" [showWeekNumbers]="true" [minDate]="hoy"
            [maxDate]="{year: 2048, month: 12, day: 31}" [startDate]="hoy" (navigate)="date = $event.next"></ngb-datepicker>
            <p class="texte-center display-10 mt-4 container">*Recuerda que la Membresia Parking Lite te otorga a partir de tu fecha de inicio 30 dias de un cajon de estacionamiento exclusivo para ti las 24 horas del día.</p>
        </div>
        <div class="col-sm mt-3">
            <p>Inicio de tu membresia: {{inicio}}</p>
            <p>Final de tu membresia: {{final}}</p>
            <p>Total: ${{total}}</p>
            <form>
                <input type="text"><br>
                <input type="text">
                <div class="row">
                    <div class="col-sm">
                        <input type="date">
                    </div>
                    <div class="col-sm">
                        <input type="text">
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>


