<div class="container">
    <div class="row mt-3">
        <h2 class="text-center display-4">Membresia Parking Lite</h2>
    </div>
    <div class="row">
        <div class="text-center col-sm mt-3 mb-5">
            <h2 class="text-center display-8 mb-4">Seleciona tu fecha de inicio</h2>
            <ngb-datepicker #dp [(ngModel)]="model" (dateSelect)="onDateSelect($event)" [showWeekNumbers]="true" [minDate]="hoy"
            [maxDate]="{year: 2048, month: 12, day: 31}" [startDate]="hoy" (navigate)="date = $event.next"></ngb-datepicker>
            <p class="texte-center display-10 mt-4 container">*Recuerda que la Membresia Parking Lite te otorga a partir de tu fecha de inicio 30 dias de un cajon de estacionamiento exclusivo para ti las 24 horas del día.</p>
        </div>
        <div class="col-sm mt-3">
            <p>Inicio de tu membresia: {{inicio}}</p>
            <p>Final de tu membresia: {{final}}</p>
            <p>Total: ${{total}}</p>
            <form [formGroup]="tarjeta">
                <div class="input-group input-group-lg">
                    <input type="text" [(ngModel)]="tardat.titular" formControlName="titular" class="form-control " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="titular" placeholder="Titular de la tarjeta" [ngClass]="{ 'is-invalid':submitted && f.titular.errors }">
                    <div *ngIf="submitted && f.titular.errors" class="invalid-feedback">
                        <div *ngIf="f.titular.errors.required">Introduce tu correo electronico.</div>
                    </div>
                </div>
                <div class="input-group input-group-lg">
                    <input type="text" [(ngModel)]="tardat.numero" formControlName="numero" 
                    class="form-control " aria-label="Sizing example input"  maxlength="16"
                    aria-describedby="inputGroup-sizing-lg" id="numero" placeholder="Numero de la tarjeta" 
                    [ngClass]="{ 'is-invalid':submitted && f.numero.errors }" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                    <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                        <div *ngIf="f.numero.errors.required">Introduce tu numero de tarjeta.</div>
                        <div *ngIf="f.numero.errors.minlength">Introduce un numero de tarjeta válido.</div>
                    </div>
                </div>
                <div class="input-group input-group-lg">
                    <div class="row">
                        <div class="col-sm">
                            <input type="date" [(ngModel)]="tardat.expira" formControlName="expira" 
                            class="form-control " aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg" id="expira">
                        </div>
                        <div class="col-sm">
                            <input type="text">
                        </div>
                    </div>
                </div>
                
                
                <button type="submit" class="btn btn-primary btn-lg" (click)="AutenticarTarjeta()">Comprar</button>
            </form>
        </div>
    </div>    
</div>


