/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Principal';
    src: url('./assets/Fuente/FredokaOne-Regular.ttf');
}
body{
    font-family: 'Principal', Arial, Helvetica, sans-serif;
    background-color: #f2f7fa;
}